<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:box-shadow="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="background-color:#eee;">
<div style="background-color:#eee;margin:0;padding:0;font-family:Roboto,Arial,sans-serif;font-weight:500;color:#F0F0F0;font-size:16px;">
    <p>&nbsp;</p>
    <table style="width: 100%; border-collapse: collapse;" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr style="font-size: 14px; color:#545f75">
            <td>&nbsp;</td>
            <td style="width: 600px;">
                <table style="width: 100%; border-collapse: collapse;background-color: #fff;" border="0" cellspacing="0"
                       cellpadding="0">
                    <tbody>
                    <tr>
                        <td>
                            <div style="padding: 10px 0; text-align: center;background-color:#172032;">
                                <div><img src="https://csi-akgec.s3.ap-south-1.amazonaws.com/assets/final.png" alt="CSI"
                                          width="150"/></div>
                            </div>
                            <div style="line-height: 150%;">
                                <div style="padding: 60px 50px;">
                                    <p style="margin: 0 0 45px;">Hi {{name}} !!</p>
                                    <p style="margin: 20px 0;">Congratulations.....</p>
                                    <p style="margin: 20px 0;">You have been successfully registered for THE
                                        INITIATIVE'20 with</p>

                                    <ol style="line-height: 150%;">
                                        <li>Team ID : <b>{{team_code}}</b></li>
                                        <li>Team Name : <b>{{team_name}}</b></li>
                                    </ol>
                                    <p style="margin: 20px 0;">Kindly fill your member's and other details</p>
                                    <div style="margin: 45px 0; text-align:left;">
                                        <a style="display: inline-block;text-decoration: none; background-color: #172032; border: none; border-radius: 4px; color: #ffffff; font-size: 16px; line-height: 1; outline: none; text-align: center; padding: 13px 30px; font-weight: bold;"
                                           href="https://csiakgec.in/initiative">Login</a>
                                    </div>

                                    <p style="margin: 20px 0 0;">If you have any further queries, please email us at
                                        csi@outlook.in or text us at our Facebook or Instagram handles</p><br/>


                                    <div style="margin: 0;">
                                        <p style="margin:0; line-height: 150%;">Thank you,<br/> Team CSI</p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr style="color: white; text-align: center;">
            <td>&nbsp;</td>
            <td style="">
                <div style="color: #172032; line-height: 1.5; margin: 25px 0; font-size: 14px;">&copy; CSI AKGEC: 2020


                    <br/>Privacy Policy
                </div>
            </td>
            <td>&nbsp;</td>
        </tr>

        </tbody>
    </table>
</div>
</body>
</html>
